HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
.idea_modules/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore compiled binary files
*.class
*.jar
*.war

# Ignore log and temporary files
*.log
*.tmp
*.swp

# Ignore cache and build directories
target/
build/
dist/

# Ignore personal configuration files//환경
.env
.vscode/settings.json

# Ignore passwords and secrets //db보안
*.key
*.pem
application-dev.properties