<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.cafeIn.cafeorder.mapper.OrderMapper">

  <select id="isExistsOrderByCafeTableIdAndUseTime" resultType="boolean">
    SELECT EXISTS
    ( SELECT id
      FROM order
      WHERE table_id = #{tableId}
        AND start_time &lt;= #{endTime}
        AND #{startTime} &lt;= end_time
      FOR UPDATE
    )
  </select>

  <select id="isExistsNowOrderByCafeTableId" resultType="boolean">
    SELECT EXISTS
    ( SELECT id
      FROM order
      WHERE table_id = #{tableId}
        AND now() &lt;= end_time
      FOR UPDATE
    )
  </select>

  <insert id="insertOrder">
    INSERT INTO order (users_id, cafes_id, table_id, start_time, end_time)
    VALUES (#{usersId}, #{cafesId}, #{tableId}, #{startTime}, #{endTime})
  </insert>

  <select id="selectOrderByIdAndUserId" resultType="kr.cafeIn.cafeorder.model.domain.Order">
    SELECT *
    FROM order
    WHERE id = #{orderId} AND users_id = #{usersId}
  </select>

  <delete id="deleteOrder">
    DELETE FROM order
    WHERE id = #{orderId}
  </delete>

</mapper>